@font-face {
  font-family: 'Berthold';
  src:
    url('https://dayaraaj.github.io/Berthold-Akzidenz-Grotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Akzidenz';
  src:
    url('https://dayaraaj.github.io/FontsFree-Net-Akzidenz-Grotesk-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN';
  src:
    url('https://dayaraaj.github.io/DIN-Next-LT-Arabic-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Actay-Regular';
  src:
    url('https://dayaraaj.github.io/Actay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
